<div class="center">
  <h1>Movie#index</h1>
  <p>Find me in app/views/movie/index.html.erb</p>


<% @movies.each do |movie| %>

<a href='/show?q=<%= movie["imdbID"] %>'><img class="movie-img" src="<%= movie["Poster"] %>" alt="<%= movie["Title"] %>" /></a>


<% end %>
</div>
