/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";

 @media (max-width: 550px) {
   .no-show {
     display: none;
   }
 }
 @media (min-width: 551px) and (max-width: 770px) {
   .no-show {
     display: none;
   }
 }
 @media (min-width: 771px) and (max-width: 1200px) {
   .row-eq-height {
     display: -webkit-box;
     display: -webkit-flex;
     display: -ms-flexbox;
     display: flex;
   }
   .is-flex {
     padding-top: 10%;
   }
 }
 @media (min-width: 1201px) {
   .row-eq-height {
     display: -webkit-box;
     display: -webkit-flex;
     display: -ms-flexbox;
     display: flex;
   }
   .is-flex {
     padding-top: 12%;
   }
 }
// ===============================//

// Landing Page
ul {
  list-style-type: none;
  padding: 0;
}
.subtext {
 font-family: 'Roboto', sans-serif;
 height: 100%;
}
.main-form {
 padding: none;
}
.movie-img {
 height: 450px;
 width: 300px;
 margin: 10px;
}

// INDIV MOVIE PAGE

.col-md-5 {
  max-height: 760px;
}
.img-responsive {
  width: 100%;
  min-width: 320px;
  max-width: 480px;
  height: auto;
  margin: 0 auto;
}

// COLLECTION PAGE
.coll {
  border-bottom: 2px solid;
}
.indiv {
  max-width: 240px;
  width:100%;
}
.badge {
  background-color: white;
  color: black;
  // font-size: 20px;
}
.points {
  text-align: center;
}
.info {
  margin-top: 6%;
}
.media-header {
  margin-top: 4%;
}
.no-show {
  margin-top: 12px;
}
.name {
  background-color: #efd215
}


// FOOTER
.footer {
  background-color: #222222;
  color: white;
  text-align: center;
}
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 30px;
}
