/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";


 .movie-img {
   height: 450px;
   width: 300px;
   margin: 20px;
 }

 // .container {
 //   background-color: silver;
 //   padding: 10px;
 // }

 .center {
   background-color: lightcyan;
   margin: 0 auto;
   text-align: center;
 }

// INDIV MOVIE PAGE
.movie-container {
  // background-color: plum;
  //  word-wrap: break-word;
  //  height: 100%;
  // padding: 40px;
  width: 80%;
  margin: 0 auto;
}

 .media-left {
   padding: 10px;
   width: 45%;
 }
 .media-object {
   width: 100%;
 }

 .media-body {
   padding: 15px 100px 0px 20px;
 }

 // COLLECTION PAGE
 // .panel {
 //   width: 60%;
 //  //  margin: 0 auto;
 // }
 .section {
   width: 40%;
 }
 .votes {
   width: 10%;
 }
 .badge {
   height: 34px;
   width: 40px;
   padding: 15px 0px 35px 0px;
   background-color: white;
   color: black;
   font-size: 20px;
 }
 .list-object {
   height: 150px;
   width: 100px;
 }
 .smol {
   width: 120px;
 }


// FOOTER
.footer {
  background-color: black;
  color: white;
  text-align: center;
}
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
}
